$primary: #C2B3A1;
$secondary: #7AC9D6;
$tertiary: #E2E6EA;
$body-color: #074c76;
$line-height-base: 2;
$headings-color: $secondary;
$headings-font-weight: 600;

$theme-colors: 
(
    "secondary-dark": #282E34
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/animate.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    background-color: $secondary;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    &.btn-secondary {
        border-radius: 12px;
        color: $white;
        font-weight: bold;
    }

    &.btn-book {
        @include media-breakpoint-up(xl) {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
        }

        @include media-breakpoint-down(md) {
            display: block;
            width: 100%;
        }
    }
}

.flex-even {
    flex: 1;
}

i {
    color: $body-color;
}

.icons {
    line-height: 1;
}

.booking-icon {
    max-width: 50px; 
    border-radius: 16px;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.18);

    &:hover {
        border: 4px solid $secondary;
    }

    @include media-breakpoint-up(sm) {
        max-width: 100px;
    }

    @include media-breakpoint-up(md) {
        max-width: 150px;
    }
}

.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.img-one { background-image: url('img/BS-1.jpg'); min-height: 900px; }
    &.img-two { background-image: url('img/BS-2.jpg'); }
    &.img-three { background-image: url('img/BS-3.jpg'); }
    &.img-four { background-image: url('img/BS-4.jpg'); }
}

section {
    padding: 50px 0;
    overflow: hidden;
    background-color: $white;
}

.carousel {
    border-left: 4px solid $white;
    border-right: 4px solid $white;

    .carousel-item {
        min-height: 600px;
        background-color: $tertiary;
        color: $white;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &.jumbotron {
            margin-bottom: 0;
        }
    }
}

.carousel-item-select-container {
    border-bottom: 4px $white solid;

    .carousel-item-select {
        cursor: pointer;
        min-height: 147px;
        border-radius: 0;
        background-color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
        transition: 0.3s;
        filter: blur(1px);

        &:hover {
            opacity: 1;
            filter: blur(0);
        }
    }
}

.carousel-item-select-container:last-child {
    border-bottom: none;
}

.navbar {
    min-height: 94px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .navbar-brand {
        img {
            max-width: 240px;
        }
    }

    .navbar-collapse {
        color: $body-color;
        background-color: $white;
    }

    a {
        color: $body-color;
    }

    .nav-item {
        font-weight: bold;

        .nav-link {
            font-size: 100%;

            @include media-breakpoint-between(lg,lg) {
                font-size: 85%;
            }
        }

        &:hover, &.active {
            .nav-link {
                color: $secondary;
                font-weight: bold;
            }
        }

        &.active {
            .nav-link {
                color: $primary;
                font-weight: bold;
            }
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }
}

.card {
    &.card-event {
        border: 4px solid $secondary;
        box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14);
        line-height: 1.5;
        border-radius: 16px;
        margin-bottom: 32px;

        .card-img-top {
            height: 150px;
            border-radius: 12px 12px 0 0;
        }

        .card-body {
            color: $body-color;
        }
    }

    &:hover {
        text-decoration: none;
        background-color: $gray-200;
    }
}

.card-deck {
    &.card-deck-3 {
        > div {
            border: 0;
            display: block;
        }

        @include media-breakpoint-up(xs) {

            > div {
                flex: 1 0 0%;
                display: block;
            }
        }

        @include media-breakpoint-up(sm) {
            > div {
                flex: 0 0 50%;
                display: flex;
            }
        }

        @include media-breakpoint-up(md) {
            > div {
                flex: 0 0 33.3333%;
                display: flex;
            }
        }
    }
}

.gallery {
    border-bottom: 4px solid $white;
}

.panel-row {
    .panel-item-container {
        border: 2px $white solid;
        overflow: hidden;

        .panel-item {
            cursor: pointer;
            min-height: 400px;
            border-radius: 0;
            background-color: $white;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: 0.3s;
            overflow: hidden;

            @include media-breakpoint-up(md) {
                min-height: 400px;
            }

            &:hover {
                //filter: blur(2px);
                transform: scale(1.1);

                .item-overlay {
                    opacity: 1;
                }
            }

            &.item-sm {
                min-height: 400px;

                @include media-breakpoint-up(md) {
                    min-height: 200px;
                }
            }

            &.item-lg {
                min-height: 400px;

                @include media-breakpoint-up(md) {
                    min-height: 600px;
                }
            }

            .item-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(118,201,214,0.9);
                //background-color: rgba(128,128,128,0.8);
            }

            .overlay-text {
                color: white;
                text-shadow: 2px 2px 4px #333333;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                line-height: 16px;

                h2 {
                    color: $white;
                }
            }
        }
    }

    .panel-item-container:last-child {
        border-bottom: none;
    }
}

.panel-row:first-child {
    .panel-item-container {
        border-left: none;
    }
}

.panel-row:last-child {
    .panel-item-container {
        border-right: none;
    }
}

.ftb-frame {
    min-height: 338px;
    margin: 150px 0;
    padding: 75px 0;
    background-color: $white;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14);
    border: 4px solid $secondary;

    h1, i {
        color: $secondary;
    }
}

footer {
    padding: 16px 0;
    color: $body-color;
    background-color: $secondary;

    li {
        &.list-booking {
            img {
                max-height: 36px;
                border-radius: 6px;
                box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.14);
            }
        }
    }

    a {
        color: $body-color;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $white;
        }
    }

    h2 {
        margin: 0;
    }

    small {
        position: absolute;
        left: 0;
        right: 0;
        top: 25px;
    }
}

.iframe-google-map {
    height: 300px;

    @include media-breakpoint-up(md) {
        min-height: 600px;
    }
}