$primary: #C5E3E1;
$secondary: #CCE3CF;
$tertiary: #E2E6EA;
$body-color: #074c76;
$line-height-base: 2;

$theme-colors: 
(
    "secondary-dark": #282E34
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/animate.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
    background-color: $primary;
    font-family: 'Source Sans Pro', sans-serif;
}

.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.img-one { background-image: url('img/BS-1.jpg'); min-height: 900px; }
    &.img-two { background-image: url('img/BS-2.jpg'); }
    &.img-three { background-image: url('img/BS-3.jpg'); }
    &.img-four { background-image: url('img/BS-4.jpg'); }
}

section {
    padding: 50px 0;
    overflow: hidden;
}

section:nth-child(2n+1) {
    background-color: $primary;
}

.carousel {
    .carousel-item {
        min-height: 500px;
        background-color: $tertiary;
        color: #fff;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &.jumbotron {
            margin-bottom: 0;
        }
    }
}

.navbar {
    height: 94px;
    background-color: $primary;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .navbar-brand {
        width: 50px;

        img {
            @media (min-width: 576px) {
                width: auto;
            }
        }
    }

    .navbar-collapse {
        color: $white;
        background-color: $primary;
    }

    a {
        color: $white;
    }
}

.card {
    .card-img-top {
        height: 200px;
    }
}

a {
    &.card {
        &:hover {
            text-decoration: none;
            background-color: $gray-100;
        }
    }
}