$primary: #C4B6A4;
$secondary: #76C9D6;
$tertiary: #E2E6EA;
$body-color: #074c76;
$line-height-base: 2;

$theme-colors: 
(
    "secondary-dark": #282E34
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/animate.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body {
    background-color: $primary;
    font-family: 'Source Sans Pro', sans-serif;
}

.parallax {
    min-height: 400px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.img-one { background-image: url('img/BS-1.jpg'); min-height: 900px; }
    &.img-two { background-image: url('img/BS-2.jpg'); }
    &.img-three { background-image: url('img/BS-3.jpg'); }
    &.img-four { background-image: url('img/BS-4.jpg'); }
}

section {
    padding: 50px 0;
    overflow: hidden;
}

section:nth-child(2n+1) {
    background-color: $primary;
}

.carousel {
    border-left: 4px solid $white;
    border-right: 4px solid $white;

    .carousel-item {
        min-height: 600px;
        background-color: $tertiary;
        color: $white;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &.jumbotron {
            margin-bottom: 0;
        }
    }

    .arrow-attention {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 28px;
        text-align: center;

        a {
            color: $white;
            transition: 0.3s;

            &:hover {
                color: $body-color;
            }
        }

    }
}

.carousel-item-select-container {
    border-bottom: 4px $white solid;

    .carousel-item-select {
        cursor: pointer;
        min-height: 147px;
        border-radius: 0;
        background-color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.8;
        transition: 0.3s;
        filter: blur(1px);

        &:hover {
            opacity: 1;
            filter: blur(0);
        }
    }
}

.carousel-item-select-container:last-child {
    border-bottom: none;
}

.navbar {
    min-height: 94px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .navbar-brand {
        img {
            @media (min-width: 576px) {
                width: auto;
            }
        }
    }

    .navbar-collapse {
        color: $body-color;
        background-color: $white;
    }

    a {
        color: $body-color;
    }
}

.card {
    .card-img-top {
        height: 200px;
    }
}

a {
    &.card {
        &:hover {
            text-decoration: none;
            background-color: $gray-100;
        }
    }
}

.gallery {
    border-bottom: 4px solid $white;
}

footer {
    padding: 16px 0;
    color: $body-color;
    background-color: $secondary;

    a {
        color: $body-color;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $white;
        }
    }
}